body {
  background-image: url(background.jpg);
  background-size: cover;
}

header{
  color: #01dc00;
  text-align: center;
}

nav{
  background-color: #01dc00;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: auto;
}
.riquadro{
  background-color: rgba(0, 0, 0, 0.7);
  margin:auto;
  width: 65%;
}

#logo{
  width: 200px;
}
